*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.7rem;
  font-weight: 300;
  background-color: black;
  font-family: "Montserrat", sans-serif; }

.container {
  display: grid;
  grid-template-columns: [side-start] minmax(6rem, 1fr) [side-end] repeat(8, [col-start] minmax(min-content, 15.3rem) [col-end]) minmax(6rem, 1fr) [full-end];
  grid-template-rows: minmax(5rem, 1fr) repeat(4, minmax(13.4rem, 1fr)) minmax(5rem, 1fr);
  height: 100vh; }

h1 {
  font-weight: 400;
  font-size: 8rem;
  font-family: "Orbitron", sans-serif; }

h2 {
  font-size: 7rem; }

h3 {
  font-size: 3.5rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 00; }

h4 {
  font-size: 3rem; }

.sidebar {
  grid-row: 1/-1;
  grid-column: side-start / side-end;
  background-image: linear-gradient(#fd4d6b, #ff905d);
  background-color: #fd4d6b; }

.landing {
  z-index: 3000;
  position: relative;
  grid-column: side-end / full-end;
  grid-row: 1 /-1;
  display: grid;
  grid-template-columns: [side-start] minmax(6rem, 1fr) [side-end] repeat(auto-fill, [col-start] minmax(10rem, 1fr) [col-end]) minmax(6rem, 1fr) [full-end];
  grid-template-rows: minmax(5rem, 1fr) repeat(48, minmax(6.7rem, 1fr)) minmax(5rem, 1fr);
  justify-items: center;
  align-items: center; }
  .landing__title {
    position: absolute;
    grid-column: 4 /9;
    grid-row: 4/7;
    justify-self: start; }
    .landing__title--name {
      color: #001a1a;
      text-shadow: 2px 2px 1px #fcdae0; }
    .landing__title--sub {
      padding-left: 1rem;
      color: #fc1138;
      background-image: linear-gradient(#fd3758, #ff905d);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
  .landing__logo {
    position: absolute;
    z-index: 3200;
    grid-column: 1/4;
    grid-row: 4/7;
    height: 20rem;
    width: 20rem;
    background-image: radial-gradient(farthest-corner at 5% 5%, #fffffb 0%, #fffffb 60%, #c9c905 100%);
    border-radius: 50%;
    display: grid;
    grid-template-columns: 4rem auto 4rem;
    grid-template-rows: 3rem repeat(3, auto) 3rem;
    justify-items: center;
    align-items: center;
    transform: translate(0, 1rem) rotate(0);
    transition: all linear;
    animation: hovering 10s linear infinite; }
    .landing__logo h4 {
      text-transform: uppercase;
      font-family: "Orbitron", sans-serif;
      color: #014949;
      grid-column: 2/3; }
      .landing__logo h4:nth-child(1) {
        grid-row: 2 /3; }
      .landing__logo h4:nth-child(2) {
        grid-row: 3 /4; }
      .landing__logo h4:nth-child(3) {
        grid-row: 4 /5; }

@keyframes hovering {
  0% {
    transform: translate(0, 1rem) rotate(0); }
  25% {
    transform: translate(1rem, -3rem) rotate(10deg); }
  50% {
    transform: translate(0, -5rem) rotate(0deg); }
  75% {
    transform: translate(-1rem, -3rem) rotate(-10deg); }
  100% {
    transform: translate(0, 1rem) rotate(0); } }

.hypno {
  background-image: linear-gradient(rgba(253, 77, 107, 0.8), rgba(252, 156, 172, 0.3)), url(../img/hypnosis-pink.png);
  background-size: cover;
  transform: rotate(0); }

.turn {
  animation: spin 1s ease-in; }

@keyframes spin {
  100% {
    transform: rotate(720deg); } }

.about {
  grid-column: side-end/ full-end;
  grid-row: 1 / -1;
  z-index: 1000;
  height: 100vh;
  background-image: linear-gradient(#001a1a, #014949, #014949, #03c9c9);
  position: relative;
  display: grid;
  grid-template-columns: [side-start] minmax(6rem, 1fr) [side-end] repeat(auto-fill, [col-start] minmax(10rem, 1fr) [col-end]) minmax(6rem, 1fr) [full-end];
  grid-template-rows: minmax(5rem, 1fr) repeat(48, minmax(6.7rem, 1fr)) minmax(5rem, 1fr);
  justify-items: center;
  align-items: end;
  justify-content: center; }
  .about__maru {
    position: absolute;
    height: 100%;
    width: 100%;
    grid-row: 7/10;
    grid-column: 2/3;
    z-index: 1500;
    background-image: url(../img/sakura-doll_03.png);
    background-repeat: no-repeat;
    background-color: transparent;
    transform: translateY(0) rotate(0);
    transition: all linear;
    animation: 10s jumping 10s ease-in infinite; }
  .about__shadow {
    position: absolute;
    height: 2rem;
    width: 8rem;
    border-radius: 50%;
    background-color: #048888;
    filter: blur(4px);
    grid-row: 10/11;
    grid-column: 2/3;
    align-self: start;
    transform: translateY(-1rem);
    animation: shadow-light 10s linear infinite; }
  .about__sakura {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-image: url(../img/sakura-background-lg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%; }
    .about__sakura--branch {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url(../img/sakura-bacl-10.png);
      z-index: 2000;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: 10%;
      background-position-y: 40%; }
    .about__sakura--petals {
      position: absolute;
      z-index: 1500;
      background-repeat: no-repeat;
      background-size: cover;
      width: 10rem;
      height: 10rem; }
      .about__sakura--petals-01 {
        top: 0;
        right: 0;
        background-size: 20%;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petal-03.png);
        animation: sakurafubuki 15s linear infinite; }
      .about__sakura--petals-02 {
        top: 5%;
        right: 0;
        background-size: 50%;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petals-02.png);
        animation: 15s sakurafubuki 4s linear infinite; }
      .about__sakura--petals-03 {
        top: 5%;
        right: 5%;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petals-03.png);
        animation: 20s sakurafubuki 7s linear infinite; }
      .about__sakura--petals-04 {
        top: 30%;
        right: 10%;
        background-size: 30%;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petals-02.png);
        animation: 20s sakurafubuki 10s linear infinite; }
      .about__sakura--petals-05 {
        top: 30%;
        right: 10%;
        transform: scale(0.5) rotate(-60deg);
        background-image: url(../img/sakura-petals-03.png);
        animation: 20s sakurafubuki 11s linear infinite; }
      .about__sakura--petals-06 {
        top: 60%;
        right: 10%;
        background-size: 40%;
        transform: scale(0.5) rotate(-60deg);
        background-image: url(../img/sakura-petals-01.png);
        animation: 20s sakurafubuki2 11s linear infinite; }
      .about__sakura--petals-07 {
        top: 0;
        right: 20%;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petals-01.png);
        animation: 20s sakurafubuki 5s linear infinite; }
      .about__sakura--petals-08 {
        top: 0;
        right: 25%;
        background-size: 20%;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petal-04.png);
        animation: 20s sakurafubuki 9s linear infinite; }
      .about__sakura--petals-09 {
        top: 0;
        right: 15%;
        background-size: 20%;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petal-05.png);
        animation: 20s sakurafubuki 13s linear infinite; }

@keyframes sakurafubuki {
  20% {
    transform: scale(0.5) rotate(30deg); }
  60% {
    transform: scale(0.7) rotate(-60deg); }
  100% {
    top: 150%;
    right: 130%; } }

@keyframes sakurafubuki2 {
  20% {
    transform: scale(0.5) rotate(30deg); }
  60% {
    transform: scale(0.7) rotate(-60deg); }
  100% {
    top: 150%;
    right: 110%; } }

@keyframes shadow-light {
  0% {
    width: 8rem;
    transform: translateY(-1rem); }
  25% {
    width: 10rem;
    transform: translateY(-1rem); }
  50% {
    width: 12rem;
    transform: translateY(-1rem); }
  75% {
    width: 10rem;
    transform: translateY(-1rem); }
  100% {
    width: 8rem;
    transform: translateY(-1rem); } }

@keyframes jumping {
  0% {
    transform: translateY(0) rotate(0); }
  1% {
    transform: translateY(-0.8rem) rotate(0); }
  4% {
    transform: translateY(0) rotate(0); }
  70% {
    transform: translateY(0) rotate(-0.5deg); }
  71% {
    transform: translateY(0) rotate(0.5deg); }
  72% {
    transform: translateY(0) rotate(-0.5deg); }
  73% {
    transform: translateY(0) rotate(0.5deg); }
  74% {
    transform: translateY(0) rotate(-0.5deg); }
  75% {
    transform: translateY(0) rotate(0.5deg); }
  76% {
    transform: translateY(0) rotate(-0.5deg); }
  77% {
    transform: translateY(0) rotate(0.5deg); }
  78% {
    transform: translateY(0) rotate(-0.5deg); }
  79% {
    transform: translateY(0) rotate(0); }
  100% {
    transform: translateY(0) rotate(0); } }

.projects {
  grid-column: side-end/ full-end;
  grid-row: 1 / -1;
  background-color: black;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [side-start] minmax(6rem, 1fr) [side-end] repeat(auto-fill, [col-start] minmax(10rem, 1fr) [col-end]) minmax(6rem, 1fr) [full-end];
  grid-template-rows: minmax(5rem, 1fr) repeat(48, minmax(6.7rem, 1fr)) minmax(5rem, 1fr); }
  .projects__left {
    grid-column: 2/5; }
