@import url(../fonts/electroharmonix.regular.ttf);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.7rem;
  font-weight: 300;
  background-color: black; }

.container {
  display: grid;
  grid-template-columns: [side-start] minmax(6rem, 1fr) [side-end] repeat(8, [col-start] minmax(min-content, 15.3rem) [col-end]) minmax(6rem, 1fr) [full-end];
  grid-template-rows: minmax(5rem, 1fr) repeat(4, minmax(13.4rem, 1fr)) minmax(5rem, 1fr);
  height: 100vh; }

.your-style {
  font-family: 'Kamikaze 3D Gradient';
  font-weight: normal;
  font-style: normal; }

.your-style {
  font-family: 'Kamikaze';
  font-weight: normal;
  font-style: normal; }

.your-style {
  font-family: 'Electroharmonix';
  font-weight: normal;
  font-style: normal; }

h1 {
  font-weight: 700;
  font-size: 10rem;
  font-family: "Montserrat", sans-serif; }

.sidebar {
  grid-row: 1/-1;
  grid-column: side-start / side-end;
  background-image: linear-gradient(#fd4d6b, #ff905d);
  background-color: #fdfd04; }

.landing {
  z-index: 3000;
  grid-column: side-end / full-end;
  grid-row: 1 /-1;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: [side-start] minmax(6rem, 1fr) [side-end] repeat(16, [col-start] minmax(min-content, 7.7rem) [col-end]) minmax(6rem, 1fr) [full-end];
  grid-template-rows: minmax(5rem, 1fr) repeat(4, minmax(13.4rem, 1fr)) minmax(5rem, 1fr); }
  .landing__wrapper {
    width: 100%;
    height: 100%; }
  .landing__letter {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: pink;
    background-image: linear-gradient(to right, #fc1138 0%, #fd3758 20%, white 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 20rem; }
    .landing__letter::before, .landing__letter::after {
      position: absolute;
      content: ''; }
    .landing__letter::before {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -2; }
    .landing__letter::after {
      z-index: -1;
      top: .125em;
      right: .125em;
      bottom: .125em;
      left: .125em; }
    .landing__letter:nth-child(1) {
      grid-row: 3 /5;
      grid-column: 6/7; }
    .landing__letter:nth-child(2) {
      grid-row: 3 /5;
      grid-column: 7/9; }
    .landing__letter:nth-child(3) {
      grid-row: 3 /5;
      grid-column: 9/11; }

.hypno {
  background-image: linear-gradient(rgba(253, 77, 107, 0.8), rgba(252, 156, 172, 0.3)), url(../img/hypnosis-pink.png);
  background-size: cover;
  transform: rotate(0); }

.turn {
  animation: spin 1s ease-in; }

@keyframes spin {
  100% {
    transform: rotate(720deg); } }

.about {
  grid-column: side-end/ full-end;
  grid-row: 1 / -1;
  z-index: 1000;
  background-image: linear-gradient(#045d5d, #048888, #03c9c9, #045d5d);
  position: relative; }
  .about__maru {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 15%;
    left: 46%;
    z-index: 1500;
    background-image: url(../img/sakura-doll-02.png);
    background-repeat: no-repeat; }
  .about__sakura {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-image: url(../img/sakura-background-lg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%; }
    .about__sakura--branch {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url(../img/sakura-bacl-10.png);
      z-index: 2000;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: 10%;
      background-position-y: 40%; }
    .about__sakura--petals {
      position: absolute;
      z-index: 1500;
      background-repeat: no-repeat;
      background-size: cover;
      width: 10rem;
      height: 10rem; }
      .about__sakura--petals-01 {
        top: 0;
        right: 0;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petals-01.png);
        animation: sakurafubuki 15s linear infinite; }
      .about__sakura--petals-02 {
        top: 5%;
        right: 0;
        background-size: 50%;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petals-02.png);
        animation: 15s sakurafubuki 4s linear infinite; }
      .about__sakura--petals-03 {
        top: 5%;
        right: 5%;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petals-03.png);
        animation: 15s sakurafubuki 7s linear infinite; }
      .about__sakura--petals-04 {
        top: 30%;
        right: 10%;
        transform: scale(0) rotate(0);
        background-image: url(../img/sakura-petals-03.png);
        animation: 10s sakurafubuki 10s linear infinite; }
      .about__sakura--petals-05 {
        top: 30%;
        right: 10%;
        background-size: 40%;
        transform: scale(0.5) rotate(-60deg);
        background-image: url(../img/sakura-petals-02.png);
        animation: 10s sakurafubuki 11s linear infinite; }
      .about__sakura--petals-06 {
        top: 60%;
        right: 10%;
        transform: scale(0.5) rotate(-60deg);
        background-image: url(../img/sakura-petals-03.png);
        animation: 10s sakurafubuki2 11s linear infinite; }

@keyframes sakurafubuki {
  20% {
    transform: scale(0.5) rotate(30deg); }
  60% {
    transform: scale(0.7) rotate(-60deg); }
  100% {
    top: 150%;
    right: 130%; } }

@keyframes sakurafubuki2 {
  20% {
    transform: scale(0.5) rotate(30deg); }
  60% {
    transform: scale(0.7) rotate(-60deg); }
  100% {
    top: 150%;
    right: 110%; } }
