.about {
    grid-column: side-end/ full-end;
    grid-row: 1 / -1;
    z-index: 1000;
    height: 100vh;
    //background-image: linear-gradient( $color-teal-dark, $color-teal, $color-teal-light, $color-teal-dark);
    background-image: linear-gradient( $color-teal-darkest, $color-teal-dark, $color-teal-dark, $color-teal-light);
    position: relative;
    @include base-template; 
    justify-items: center;
    align-items: end;
    justify-content: center;

    &__maru{
        position: absolute;
        // z-index: 5000;
        height: 100%;
        width: 100%;
        grid-row: 7/10;
        grid-column: 2/3;
        z-index: 1500;
        background-image: url(../img/sakura-doll_03.png);
        background-repeat: no-repeat;
        background-color: transparent;
        transform: translateY(0) rotate(0);
        transition: all linear;
        animation: 10s jumping 10s ease-in infinite;


    }
    &__shadow {
        position: absolute;
        height: 2rem;
        width: 8rem;
        border-radius: 50%;
        background-color: $color-teal;
        filter: blur(4px);
        //box-shadow: 0 3rem 3rem black;
        grid-row: 10/11;
        grid-column: 2/3;
        align-self: start;
        transform: translateY(-1rem);
        animation: shadow-light 10s linear infinite;
    }

    &__sakura{
        position: absolute;
        z-index: 1000;
        height: 100%;
        width: 100%;
        background-image: url(../img/sakura-background-lg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 70%;
        
        &--branch {
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url(../img/sakura-bacl-10.png);
                z-index: 2000;
                top: 0;
                right: 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: 10%;
                background-position-y: 40%;

        }
        &--petals {
            position: absolute;
            z-index: 1500;
            background-repeat: no-repeat;
            background-size: cover;
            width: 10rem;
            height: 10rem;
            &-01{
                top:0;
                right: 0;
                background-size: 20%;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petal-03.png);
                animation: sakurafubuki 15s linear infinite;
            }
            &-02{
                top:5%;
                right: 0;
                background-size: 50%;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petals-02.png);
                animation: 15s sakurafubuki 4s linear infinite;
            }
            &-03{
                top:5%;
                right: 5%;
                // background-size: 50%;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petals-03.png);
                animation: 20s sakurafubuki 7s linear infinite;
            }
            &-04{
                top:30%;
                right: 10%;
                background-size: 30%;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petals-02.png);
                animation: 20s sakurafubuki 10s linear infinite;
            }
            &-05{
                top:30%;
                right: 10%;
                //background-size: 30%;
                transform: scale(.5) rotate(-60deg);
                background-image: url(../img/sakura-petals-03.png);
                animation: 20s sakurafubuki 11s linear infinite;
            }
            &-06{
                top:60%;
                right: 10%;
                background-size: 40%;
                transform: scale(.5) rotate(-60deg);
                background-image: url(../img/sakura-petals-01.png);
                animation: 20s sakurafubuki2 11s linear infinite;
            }
            &-07{
                top:0;
                right: 20%;
                // background-size: 20%;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petals-01.png);
                animation: 20s sakurafubuki 5s linear infinite;
            }
            &-08{
                top:0;
                right: 25%;
                background-size: 20%;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petal-04.png);
                animation: 20s sakurafubuki 9s linear infinite;
            }
            &-09{
                top:0;
                right: 15%;
                background-size: 20%;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petal-05.png);
                animation: 20s sakurafubuki 13s linear infinite;
            }
            
        }

    }
    @keyframes sakurafubuki{
        20%{
            transform: scale(.5) rotate(30deg);
        }
        60% {
            transform: scale(.7) rotate(-60deg);
        }
        100%{
            top: 150%;
            right: 130%;
        }
    }
    @keyframes sakurafubuki2{
        20%{
            transform: scale(.5) rotate(30deg);
        }
        60% {
            transform: scale(.7) rotate(-60deg);
        }
        100%{
            top: 150%;
            right: 110%;
        }
    }
    @keyframes shadow-light {
        0% {
            width: 8rem;
            transform: translateY(-1rem);
        }
        25%{
            width: 10rem;
            transform: translateY(-1rem);

        }
        50% {
            width: 12rem;
            transform: translateY(-1rem);

        }
        75%{
            width: 10rem;
            transform: translateY(-1rem);
        }
        100%{
            width: 8rem;
            transform: translateY(-1rem);
        }
    }

    @keyframes jumping {
        0% {
            transform: translateY(0) rotate(0);
        }

        1% { 
            transform: translateY(-.8rem) rotate(0);
        }
        4%{      
            transform: translateY(0) rotate(0);   
        }
        70%{
            transform: translateY(0) rotate(-.5deg);
        }
        71% {
            transform: translateY(0) rotate(.5deg);
        }
        72%{
            transform: translateY(0) rotate(-.5deg);
        }
        73% {
            transform: translateY(0) rotate(.5deg);
        }
        74%{
            transform: translateY(0) rotate(-.5deg);
        }
        75% {
            transform: translateY(0) rotate(.5deg);
        }
        76% {
            transform: translateY(0) rotate(-.5deg);
        }
        77% {
            transform: translateY(0) rotate(.5deg);
        }
        78% {
            transform: translateY(0) rotate(-.5deg);
        }
        79%{
            transform: translateY(0) rotate(0);
        }
        100%{
            
            transform: translateY(0) rotate(0);
        }

    }


}