.about {
    grid-column: side-end/ full-end;
    grid-row: 1 / -1;
    z-index: 1000;
    //background-image: linear-gradient( $color-teal-dark, $color-teal, $color-teal-light, $color-teal-dark);
    background-image: linear-gradient( $color-teal-darkest, $color-teal-dark, $color-teal-light, $color-teal-dark, $color-teal-darkest);
    position: relative;
    @include base-template; 
    justify-items: center;
    align-items: end;
    justify-content: center;

    &__maru{
        position: absolute;
        // z-index: 5000;
        height: 100%;
        width: 100%;
        grid-row: 7/10;
        grid-column: 2/3;
        // top: 15%;
        // left:46%;
        z-index: 1500;
        background-image: url(../img/banzai-pink_02.png);
        background-repeat: no-repeat;
        background-color: transparent;

    }
    &__shadow {
        position: absolute;
        height: 2rem;
        width: 8rem;
        border-radius: 50%;
        background-color: $color-teal-dark;
        filter: blur(4px);
        //box-shadow: 0 3rem 3rem black;
        grid-row: 10/11;
        grid-column: 2/3;
        align-self: start;
        transform: translateY(-1rem);
    }

    &__sakura{
        position: absolute;
        z-index: 1000;
        height: 100%;
        width: 100%;
        background-image: url(../img/sakura-background-lg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 70%;
        
        &--branch {
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url(../img/sakura-bacl-10.png);
                z-index: 2000;
                top: 0;
                right: 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: 10%;
                background-position-y: 40%;

        }
        &--petals {
            position: absolute;
            z-index: 1500;
            background-repeat: no-repeat;
            background-size: cover;
            width: 10rem;
            height: 10rem;
            &-01{
                top:0;
                right: 0;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petals-01.png);
                animation: sakurafubuki 15s linear infinite;
            }
            &-02{
                top:5%;
                right: 0;
                background-size: 50%;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petals-02.png);
                animation: 15s sakurafubuki 4s linear infinite;
            }
            &-03{
                top:5%;
                right: 5%;
                // background-size: 50%;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petals-03.png);
                animation: 15s sakurafubuki 7s linear infinite;
            }
            &-04{
                top:30%;
                right: 10%;
                // background-size: 50%;
                transform: scale(0) rotate(0);
                background-image: url(../img/sakura-petals-03.png);
                animation: 10s sakurafubuki 10s linear infinite;
            }
            &-05{
                top:30%;
                right: 10%;
                background-size: 40%;
                transform: scale(.5) rotate(-60deg);
                background-image: url(../img/sakura-petals-02.png);
                animation: 10s sakurafubuki 11s linear infinite;
            }
            &-06{
                top:60%;
                right: 10%;
                // background-size: 40%;
                transform: scale(.5) rotate(-60deg);
                background-image: url(../img/sakura-petals-03.png);
                animation: 10s sakurafubuki2 11s linear infinite;
            }
            
        }

    }
    @keyframes sakurafubuki{
        20%{
            transform: scale(.5) rotate(30deg);
        }
        60% {
            transform: scale(.7) rotate(-60deg);
        }
        100%{
            top: 150%;
            right: 130%;
        }
    }
    @keyframes sakurafubuki2{
        20%{
            transform: scale(.5) rotate(30deg);
        }
        60% {
            transform: scale(.7) rotate(-60deg);
        }
        100%{
            top: 150%;
            right: 110%;
        }
    }


}