@mixin base-template {
    display: grid;
    grid-template-columns: [side-start] minmax(6rem, 1fr) [side-end] repeat(auto-fill, [col-start] minmax(10rem, 1fr) [col-end])  minmax(6rem, 1fr) [full-end];
    grid-template-rows: minmax(5rem, 1fr) repeat(48, minmax(6.7rem, 1fr)) minmax(5rem, 1fr);
}

@mixin absolute-center {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@mixin verticaly-center {
    justify-items: start;
    align-items: center;
}