@mixin base-template {
    display: grid;
    grid-template-columns: [side-start] minmax(6rem, 1fr) [side-end] repeat(16, [col-start] minmax(min-content, 7.7rem) [col-end])  minmax(6rem, 1fr) [full-end];
    grid-template-rows: minmax(5rem, 1fr) repeat(4, minmax(13.4rem, 1fr)) minmax(5rem, 1fr);
}