@import url(../fonts/electroharmonix.regular.ttf);

.your-style {
    font-family: 'Kamikaze 3D Gradient';
    font-weight: normal;
    font-style: normal;
}
//Kamikaze Regular

.your-style {
    font-family: 'Kamikaze';
    font-weight: normal;
    font-style: normal;
}

.your-style {
    font-family: 'Electroharmonix';
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-weight: 700;
    font-size: 10rem;
    font-family: $font-display;
}